*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
}

.main-container {
  min-width: 350px;
  height: 100vh;
  padding: 0 3em 2em;
  display: flex;
  justify-content: center;
  background-color: #f5f7fb;
}

.form {
  margin: auto 0;
  color: #293264;
  font-family: "Inter", sans-serif;
}

.form h1 {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.form p {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

input[type="number"],
select {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 0;
  padding: 1.5em 1em;
  outline: transparent;
  font-size: 2rem;
}

option {
  font-size: 1rem;
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #f5f7fb;
  background-color: #4d5b9e;
  border: transparent;
  outline: transparent;
  padding: 1em 2.5em;
  border-radius: 15px;
}

.start-btn,
.check-answer {
  display: block;
  margin: 3em auto 0;
}

.play-again {
  display: inline-block;
  margin-top: 0.5em;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #dbdef0;
  margin: 1em 0;
}

.question-wrapper h3 {
  font-family: "Karla" sans-serif;
  font-size: 2rem;
  color: #293264;
}

.answer-wrapper {
  display: flex;
  gap: 1.5em;
}

.answer-wrapper span {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  border: 1px solid #293264;
  color: #293264;
  margin-bottom: 1em;
  cursor: pointer;
}

.result-wrapper {
  text-align: center;
}

.result-wrapper span {
  font-size: 2rem;
  font-weight: 700;
  color: #293264;
}

.selected {
  background-color: #d6dbf5;
}

.correct,
.isRight {
  background-color: green;
}

.wrong {
  background-color: red;
}

.opacity.correct,
.opacity.isRight {
  opacity: 1;
}

.opacity {
  opacity: 0.5;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .main-container {
    max-width: 900px;
  }

  .btn {
    font-size: 1rem;
  }

  .play-again {
    margin-left: 1em;
  }

  .question-wrapper h3 {
    font-size: 1.2rem;
  }

  .answer-wrapper span {
    font-size: 0.9rem;
  }

  .result-wrapper span {
    font-size: 1.2rem;
  }

  .form h1 {
    font-size: 2rem;
  }

  .form p {
    font-size: 1rem;
  }

  label {
    font-size: 1.1rem;
  }

  input[type="number"],
  select {
    font-size: 1.3rem;
  }

  option {
    font-size: 0.9rem;
  }
}
